<div
  class="sky-padding-even-large"
>
  <sky-docs-demo-control-panel-theme
    (themeSettingsChange)="themeSettingsChange($event)"
  ></sky-docs-demo-control-panel-theme>

  <h3>justify: center</h3>

  <sky-flex
    [syncHeight]="true"
  >
    <div *ngFor="let item of items"
      class="sky-padding-even-default"
      style="background: lightblue;"
    >
      <h3>
        {{ item.title }}
      </h3>
      <p>
        {{ item.description }}
      </p>
    </div>
  </sky-flex>

  <h3>justify: left</h3>

  <sky-flex
    [justify]="left"
    [syncHeight]="true"
  >
    <div *ngFor="let item of items"
      class="sky-padding-even-default"
      style="background: lightblue;"
    >
      <h3>
        {{ item.title }}
      </h3>
      <p>
        {{ item.description }}
      </p>
    </div>
  </sky-flex>
</div>
