@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-flex-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0 7.5px;
  max-width: 1398px;
  margin: 0 auto;

  &.sky-flex-justify-center {
    justify-content: center;
  }

  &.sky-flex-justify-left {
    justify-content: flex-start;
  }

  ::ng-deep > * {
    margin: 0 7.5px 15px;
    height: 100%;

    .sky-selection.box,
    .sky-action-button {
      height: 100% !important;
      min-width: auto !important;
    }
  }

  &.sky-responsive-container-sm ::ng-deep > * {
    flex: 0 1 344px;
  }

  &.sky-responsive-container-md ::ng-deep > * {
    flex: 0 1 446px;
  }
}

// Reset media styles for modern theme.
@include sky-theme-modern {
@include sky-host-responsive-container-sm-min() {
  .sky-flex-container {
    ::ng-deep .sky-action-button {
      max-width: 100%;
    }
  }
}
}
