<div
  class="sky-selection-box sky-box sky-rounded-corners sky-elevation-0-bordered"
  tabindex="0"
  type="button"
  (click)="buttonClicked()"
  (keydown.enter)="enterPress()"
>
  <ng-content
    select="sky-selection-box-icon"
  ></ng-content>
  <div
    class="sky-selection-box-text-container"
  >
    <ng-content
      select="sky-selection-box-header"
    ></ng-content>
    <ng-content
      select="sky-selection-box-description"
    ></ng-content>
  </div>
  <div class="sky-selection-box-control">
    <sky-checkbox></sky-checkbox>
  </div>
</div>
