@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

:host-context(.sky-action-button-container) {
  & {
    display: block;
  }

  .sky-action-button {
    height: 100%;
    min-width: 236px;
    margin-left: $sky-margin;
    margin-right: $sky-margin;
  }
}

.sky-action-button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block;

  &.sky-btn {
    white-space: normal;
  }
}

.sky-action-button-icon-header-container {
  display: flex;
  justify-content: center;
}

@include sky-host-responsive-container-xs-min() {

  :host-context(.sky-action-button-container) {
    & {
      margin: $sky-margin-double 0;
    }
  }

  .sky-action-button {
    padding: $sky-padding-double $sky-padding-double $sky-padding-triple;
    margin: 0 $sky-margin-plus-half;
  }

  .sky-action-button-icon-header-container {
    margin-bottom: $sky-margin-double;
  }
}

@include sky-host-responsive-container-sm-min() {
  :host-context(.sky-action-button-container) {
    & {
      margin: $sky-margin 0;
    }
  }

  .sky-action-button {
    padding: $sky-padding-triple $sky-padding-double;
    margin: 0;
    max-width: 236px;
  }

  .sky-action-button-icon-header-container {
    margin-bottom: 0;
    flex-direction: column;
  }
}

@include sky-theme-modern {
  .sky-action-button {
    display: grid;
      display: -ms-grid;
    grid-auto-rows: min-content;
    text-align: left;

    ::ng-deep sky-action-button-header {
      grid-row: 1;
        -ms-grid-row: 1;
      grid-column: 2;
        -ms-grid-column: 2;

      padding-bottom: 15px;
    }

    ::ng-deep sky-action-button-icon {
      grid-row: 1 / span 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
      grid-column: 1;
        -ms-grid-column: 1;

      padding-right: 15px;
    }

    ::ng-deep sky-action-button-details {
      grid-row: 2;
        -ms-grid-row: 2;
      grid-column: 2;
        -ms-grid-column: 2;
    }
  }
  @include sky-host-responsive-container-xs-min() {
    .sky-action-button {
      padding: 15px;
      padding: $sky-padding-double $sky-padding-double $sky-padding-triple;
    }
  }
  @include sky-host-responsive-container-sm-min() {
    .sky-action-button {
      padding: 30px;
    }
  }
}
